<div data-elementor-type="single" data-elementor-id="1055" class="elementor elementor-1055 elementor-location-single post-4378 medical_information type-medical_information status-publish has-post-thumbnail hentry tag-27 tag-31 tag-28 tag-20 tag-13 entry has-media" data-elementor-post-type="elementor_library">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-b3133b3 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b3133b3" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-14da8f36" data-id="14da8f36" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-b183aac elementor-widget elementor-widget-breadcrumbs" data-id="b183aac" data-element_type="widget" data-e-type="widget" data-widget_type="breadcrumbs.default">
				<div class="elementor-widget-container">{{breadcrumbs}}</div>
				</div>
				<div class="elementor-element elementor-element-29547fa4 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading" data-id="29547fa4" data-element_type="widget" data-e-type="widget" data-widget_type="theme-post-title.default">
				<div class="elementor-widget-container"><h1 class="elementor-heading-title elementor-size-default">{{title}}</h1></div>
				</div>
				<div class="elementor-element elementor-element-1eb5534 elementor-widget elementor-widget-post-info" data-id="1eb5534" data-element_type="widget" data-e-type="widget" data-widget_type="post-info.default">
				<div class="elementor-widget-container">
							<ul class="elementor-inline-items elementor-icon-list-items elementor-post-info">
								<li class="elementor-icon-list-item elementor-repeater-item-23724a2 elementor-inline-item" itemprop="datePublished">
										<span class="elementor-icon-list-icon">
								<i aria-hidden="true" class="fas fa-calendar"></i>							</span>
									<span class="elementor-icon-list-text elementor-post-info__item elementor-post-info__item--type-date">
										<time>{{date}}</time>					</span>
								</li>
				<li class="elementor-icon-list-item elementor-repeater-item-e82e8bc elementor-inline-item">
										<span class="elementor-icon-list-icon">
								<i aria-hidden="true" class="far fa-clock"></i>							</span>
									<span class="elementor-icon-list-text elementor-post-info__item elementor-post-info__item--type-time">
										<time>{{time}}</time>					</span>
								</li>
				<li class="elementor-icon-list-item elementor-repeater-item-64f2f9b elementor-inline-item" itemprop="about" data-if-tags="">
										<span class="elementor-icon-list-icon">
								<i aria-hidden="true" class="fas fa-tags"></i>							</span>
									<span class="elementor-icon-list-text elementor-post-info__item elementor-post-info__item--type-terms">
										<span class="elementor-post-info__terms-list">{{tagLinks}}</span>
					</span>
								</li>
				</ul>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-38db4e97 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="38db4e97" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-5b7814a0" data-id="5b7814a0" data-element_type="column" data-e-type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-e6bf6b5 elementor-widget elementor-widget-theme-post-featured-image elementor-widget-image" data-id="e6bf6b5" data-element_type="widget" data-e-type="widget" data-widget_type="theme-post-featured-image.default">
				<div class="elementor-widget-container">{{featuredImage}}</div>
				</div>
				<div class="elementor-element elementor-element-3367fccc elementor-widget elementor-widget-theme-post-content" data-id="3367fccc" data-element_type="widget" data-e-type="widget" data-widget_type="theme-post-content.default">
				<div class="elementor-widget-container">{{content}}</div>
				</div>
				<div class="elementor-element elementor-element-52cb3963 elementor-widget elementor-widget-facebook-button" data-id="52cb3963" data-element_type="widget" data-e-type="widget" data-widget_type="facebook-button.default">
				<div class="elementor-widget-container">
							<div data-layout="standard" data-colorscheme="light" data-size="small" data-show-faces="false" class="elementor-facebook-widget fb-like" data-href="{{fbHref}}" data-share="true" data-action="like"></div>
						</div>
				</div>
				<div class="elementor-element elementor-element-40a3974 elementor-widget elementor-widget-post-navigation" data-id="40a3974" data-element_type="widget" data-e-type="widget" data-widget_type="post-navigation.default">
				<div class="elementor-widget-container">{{postNavigation}}</div>
				</div>
				<div class="elementor-element elementor-element-f941997 elementor-widget elementor-widget-heading" data-id="f941997" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h4 class="elementor-heading-title elementor-size-default">留言</h4>				</div>
				</div>
				<div class="elementor-element elementor-element-3b43ab42 elementor-widget elementor-widget-facebook-comments" data-id="3b43ab42" data-element_type="widget" data-e-type="widget" data-widget_type="facebook-comments.default">
				<div class="elementor-widget-container">
							<div class="elementor-facebook-widget fb-comments" data-href="{{fbHref}}" data-width="100%" data-numposts="5" data-order-by="social" style="min-height: 1px"></div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-76008bbf" data-id="76008bbf" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-7b4d25e2 elementor-widget elementor-widget-heading" data-id="7b4d25e2" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h4 class="elementor-heading-title elementor-size-default">最新文章</h4>				</div>
				</div>
				<div class="elementor-element elementor-element-a01b2ab elementor-grid-1 elementor-posts--thumbnail-left elementor-grid-tablet-3 elementor-grid-mobile-1 elementor-widget elementor-widget-posts" data-id="a01b2ab" data-element_type="widget" data-e-type="widget" data-settings="{&quot;classic_columns&quot;:&quot;1&quot;,&quot;classic_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:20,&quot;sizes&quot;:[]},&quot;classic_columns_tablet&quot;:&quot;3&quot;,&quot;classic_columns_mobile&quot;:&quot;1&quot;,&quot;classic_row_gap_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;classic_row_gap_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}" data-widget_type="posts.classic">
				<div class="elementor-widget-container">
							<div class="elementor-posts-container elementor-posts elementor-posts--skin-classic elementor-grid" role="list">{{posts:medical_information:3:a01b2ab}}</div>
		
						</div>
				</div>
				<div class="elementor-element elementor-element-0f26e9c elementor-align-left elementor-widget elementor-widget-button" data-id="0f26e9c" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-pulse" href="/information/">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon">
				<i aria-hidden="true" class="fas fa-caret-right"></i>			</span>
									<span class="elementor-button-text">諮商部落</span>
					</span>
					</a>
				</div>
								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>