<div data-elementor-type="single" data-elementor-id="1030" class="elementor elementor-1030 elementor-location-single post-2752 new type-new status-publish has-post-thumbnail hentry entry has-media" data-elementor-post-type="elementor_library">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-1b647dc7 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="1b647dc7" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-703f9a70" data-id="703f9a70" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-70782d7e elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading" data-id="70782d7e" data-element_type="widget" data-e-type="widget" data-widget_type="theme-post-title.default">
				<div class="elementor-widget-container"><h1 class="elementor-heading-title elementor-size-default">{{title}}</h1></div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-7a0b2107 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7a0b2107" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-e912050" data-id="e912050" data-element_type="column" data-e-type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-af70280 elementor-align-right elementor-widget elementor-widget-post-info" data-id="af70280" data-element_type="widget" data-e-type="widget" data-widget_type="post-info.default">
				<div class="elementor-widget-container">
							<ul class="elementor-inline-items elementor-icon-list-items elementor-post-info">
								<li class="elementor-icon-list-item elementor-repeater-item-29b000f elementor-inline-item" itemprop="datePublished">
						
											<span class="elementor-icon-list-icon">
														<i class="fa fa-calendar" aria-hidden="true"></i>
												</span>
									<span class="elementor-icon-list-text elementor-post-info__item elementor-post-info__item--type-date">
										<time>{{date}}</time>					</span>
									
				</li>
				<li class="elementor-icon-list-item elementor-repeater-item-08ef33b elementor-inline-item">
										<span class="elementor-icon-list-icon">
														<i class="fa fa-clock-o" aria-hidden="true"></i>
												</span>
									<span class="elementor-icon-list-text elementor-post-info__item elementor-post-info__item--type-time">
										<time>{{time}}</time>					</span>
								</li>
				</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-242dc6e elementor-widget elementor-widget-theme-post-content" data-id="242dc6e" data-element_type="widget" data-e-type="widget" data-widget_type="theme-post-content.default">
				<div class="elementor-widget-container">{{content}}</div>
				</div>
				<div class="elementor-element elementor-element-020685b elementor-widget elementor-widget-post-navigation" data-id="020685b" data-element_type="widget" data-e-type="widget" data-widget_type="post-navigation.default">
				<div class="elementor-widget-container">{{postNavigation}}</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-9ea11ef" data-id="9ea11ef" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-512f701 elementor-widget elementor-widget-heading" data-id="512f701" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h4 class="elementor-heading-title elementor-size-default">最新消息</h4>				</div>
				</div>
				<div class="elementor-element elementor-element-edeac8c elementor-grid-1 elementor-grid-tablet-1 elementor-posts--thumbnail-left elementor-grid-mobile-1 elementor-widget elementor-widget-posts" data-id="edeac8c" data-element_type="widget" data-e-type="widget" data-settings="{&quot;classic_columns&quot;:&quot;1&quot;,&quot;classic_columns_tablet&quot;:&quot;1&quot;,&quot;classic_columns_mobile&quot;:&quot;1&quot;,&quot;classic_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:35,&quot;sizes&quot;:[]},&quot;classic_row_gap_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;classic_row_gap_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}" data-widget_type="posts.classic">
				<div class="elementor-widget-container">
							<div class="elementor-posts-container elementor-posts elementor-posts--skin-classic elementor-grid" role="list">{{posts:new:3:edeac8c}}</div>
		
						</div>
				</div>
				<div class="elementor-element elementor-element-c36cf11 elementor-align-left elementor-widget elementor-widget-button" data-id="c36cf11" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-pulse" href="/news/">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon">
				<i aria-hidden="true" class="fas fa-angle-double-right"></i>			</span>
									<span class="elementor-button-text">回最新消息</span>
					</span>
					</a>
				</div>
								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>