<!--img-load-attrs:["","",""]-->
<article class="elementor-post elementor-grid-item post-{{id}} {{type}} type-{{type}} status-publish {{thumbClass}} hentry entry has-media" role="listitem">
				<!--thumb--><a class="elementor-post__thumbnail__link" href="{{url}}" tabindex="-1">
			<div class="elementor-post__thumbnail">{{img:full:plain}}</div>
		</a><!--/thumb-->
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="{{url}}">{{title}}</a>
		</h3>
				<div class="elementor-post__meta-data">
					<span class="elementor-post-date">{{date}}</span>
				</div>
		
		<a class="elementor-post__read-more" href="{{url}}" aria-label="Read more about {{title}}" tabindex="-1">
			Read More »		</a>

				</div>
				</article>
